.displaycontainer{
    
    width: 100%;
    height: 100vh;
    background-image: url("../images/imgwithOverlay.jpg");
    background-size: cover;
    top: 0;
    z-index: 0;


}
.displaycontainer .container-text{
    position: relative;
    top: 50%;
    margin-left: 10%;
    width: 40%;
}
.displaycontainer .container-text .text{
    font-size: 26px;
    color: white;
    font-family: sans-serif;
}
.displaycontainer .container-text button, .about-container-buttons button{
    padding: 10px 50px;
    border: none;
    background: white;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 1px 1px 6px #f9f9f924;

}
.pink-container{
    width: 100%;
    background-color: #F5E9DB;
    padding: 10% 0;
}
.book-container-title{
    font-size: 50px;
    text-align: center;
    color: #545252;
}
.book-container-sub-title{
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
    width: 40%;
    font-weight: 200;
    color: #7b7979;
}
.book-preview-container{
    width: 100%;
    position: relative;
    padding: 5% 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.book-preview-container1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0px 3%;
}

.book-preview {
    text-align: center;
    position: relative;
    width: 300px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.book-preview:hover{
    transform: scale(1.01);
}

.book-preview img {
    max-width: 100%;
    height: auto;
}

.book-details {
    background-color: #FFF;
    padding: 15px 10px;
    
    
}
.book-details .author{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}
.book-details .book-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.price {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.shop-now {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 2%;
    display: flex;
    width: 30px;
    height: 30px;
    background: #ffffff59;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.shop-now:hover{
    background: #F5E9DB;
}


.tooltip {
    visibility: hidden;
    background-color: #191919;
    color: #fff;
    text-align: center;
    width: 100px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    
}

.shop-now:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.about-container{
    display: flex;
    width: 100%;
}
.about-container-img{
    width: 50%;
    background-image: url("../images/Books-lib.jpg");
    background-size: cover;
}
.about-container-text{
    width: 50%;
    background: #191919;
    padding: 14% 0;
}
.about-container-text p{
    color: white;
    font-weight: 100;
    margin: auto;
    text-align: center;
    width: 70%;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 15px;
}
.about-container-buttons {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}
.about-container-buttons button{
    margin: 40px 0 0 0;
}
.help{
    display: flex;
}
.contact-details, .contact-picture {
    width: 50%;
    box-sizing: border-box;
}
.contact-details{
    margin-left: 21%;
    margin-top: 4%;
}
.contact-details .title{
    font-size: 40px;
    margin-bottom: 92px;
}
.contact-details h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
    font-family: sans-serif;
}

.contact-details p {
    margin: 5px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
}

.alert {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: rgb(226, 227, 229);
    color: rgb(56, 61, 65);
    font-size: 16px;
    font-weight: 400;
    height: fit-content;
    padding: 20px;
    width: fit-content;
    margin-bottom: 10px;
    border-color: rgb(214, 216, 219);
    border-radius: 4px;
    border-width: 0.8px;
    display: block;

}

