.navbar{
    display: flex;
    position: absolute;
    z-index: 10;
    align-items: center;
   width: 100%;
   animation-duration: 0.5s;
}
.navbar1{
    display: flex;
    position: absolute;
    z-index: 10;
    align-items: center;
   width: 100%;
   animation-duration: 0.5s;
}

.navbar_onscroll {
    display: flex;
    position: fixed;
    z-index: 10;
    align-items: center;
   width: 100%;
   background-color: black;
   animation-duration: 0.5s;
}

.navbar .navbar-item-icon{
    flex: 1;
    margin: 20px 30px;
}

.navbar1 .navbar-item-icon{
    flex: 1;
    margin: 20px 30px;
}
.navbar .navbar-item-icon image{
    width: 200px;
}
.navbar1 .navbar-item-icon image{
    width: 200px;
}
.navbar .navbar-item{
    margin: 0 30px 0px 0;
}
.navbar1 .navbar-item{
    margin: 0 30px 0px 0;
}
.navbar .searsh{
    background: #80808036;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(187, 186, 186);
    box-shadow: 1px 1px 5px #00000024;
}

.navbar .login{
    padding: 13px 19px;
    border: none;
    background: #D2B48C;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #00000024;
}
.username {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    margin-right: 30px;
}

.username1 {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    margin-right: 30px;
}

.navbar .menu{
    color: black;
    flex: 2 ;
    font-weight: 400;
}
.navbar .basket{
    margin: 10px;
}

.navbar_onscroll .navbar-item-icon{
    flex: 1;
    margin: 20px 30px;
}
.navbar_onscroll .navbar-item-icon image{
    width: 200px;
}
.navbar_onscroll .navbar-item{
    margin: 0 30px 0px 0;
}
.navbar_onscroll .searsh{
    background: #80808036;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(187, 186, 186);
    box-shadow: 1px 1px 5px #00000024;
}

.navbar_onscroll .login{
    padding: 13px 19px;
    border: none;
    background: #D2B48C;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #00000024;
}
.navbar_onscroll .menu{
    color: black;
    flex: 2;
    font-weight: 400;
}
.navbar_onscroll .basket{
    margin: 10px;
}