<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/navbar.css">
        <link rel="stylesheet" href="../static/styles/book.css">
        <script type="text/javascript" src="../static/scripts/main.js"></script>
        <script type="text/javascript" src="../static/scripts/book.js"></script>

        <title>StoryShore</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-item-icon">
                <img src="../static/images/balcklogo.png" alt="logo" width="80">
            </a>
            <data class="navbar-item menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </data>
            {% if current_user.is_authenticated %}
                <a class="navbar-item basket" href="{{ url_for('goToCart') }}"><img src="../static/images/basket.png" alt="basket" width="30"></a>
                <a class="navbar-item" href="{{ url_for('dashboard') }}"><img src="../static/images/user.png" alt="user" width="30"></a>
                <p class="username1">{{ current_user.username }}</p>
                <a class="navbar-item" href="{{ url_for('logout') }}"><img src="../static/images/Logout.png" alt="user" width="30"></a>
            {% else %}
                <a class="navbar-item basket"><img src="../static/images/basket.png" alt="basket" width="30"></a>
                <a class="navbar-item" href="{{ url_for('login') }}"><img src="../static/images/user.png" alt="user" width="30"></a>
            {% endif %} 
        </div>
        <div class="book-container">
            <div class="img-conatiner">
                <img src="{{ url_for('get_image', filename=book.cover) }}">
            </div>
            <div class="info-container">
                <div class="price-bubble">
                    <p>{{book.price}}$</p>
                </div>
                <h2>{{book.title}}</h2>
                <h4>{{book.subtitle}}</h4>
                <p>{{book.author}}</p>
                <div class="space"></div>
                <h4>Description</h4>
                <p>{{book.description}}</p>
                {% if current_user.is_authenticated %}
                    <button class="cart-button" onclick="addToCart('{{book.id}}',  '{{book.title}}')">Add to cart</button>
                {% else %}
                    <a class="cart-button" href="{{ url_for('login') }}">Add to cart</a>
                {% endif %}
            </div>
        </div>    
        
    </body>
    <footer>
        <div class="footer_flex">
            <div class="footer_flex_section1">
                <h1>
                    StoryShore
                </h1>
                <div class="line">

                </div>
                <h3>contact information</h3>
                <h5>privacy policy</h5>
            </div>
            <div class="footer_flex_section2">
                <h3>SITE MAP</h3>  
                <ul>
                    <li>My business</li>
                    <li>My products</li>
                    <li>My services</li>
                    <li>Gallery</li>
                    <li>Contact</li>
                    <li>Support</li>
                </ul> 
                <div class="copyrights">
                    <h5>copyrights</h5>
                    <img class="img" src="../static/images/cp.png">
                    <h5>2023</h5> 
                </div>
            </div>
            <div class="footer_flex_section3">
                <input type="text" id="username" name="username" placeholder="Email address"/>
                <button class="subscribe">Subscribe</button>
                <div class="social">
                    <img src="../static/images/fb.png">
                    <img src="../static/images/insta.png">
                    <img src="../static/images/in.png">
                    <img src="../static/images/tt.png">
                </div>

            </div>
        </div>
    </footer>
</html>