<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <link rel="stylesheet" href="../static/styles/container.css">
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/navbar.css">
        <script type="text/javascript" src="../static/scripts/main.js"></script>
        <title>StoryShore</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    </head>
    <body>
        <!---<header class="image"></header> -->
      
        <div class="navbar" id="navbar">
            <a class="navbar-item-icon">
                <img src="../static/images/logo2.png" alt="logo" width="80">
            </a>
            <data id="menu" class="navbar-item menu">
                <ul>
                    <li><a id="home" class="active" href="{{ url_for('home') }}">HOME</a></li>
                    <li><a id="about" href="#about">ABOUT</a></li>
                    <li><a id="contact" href="#contact">CONTACT</a></li>
                </ul>
            </data>
            <a class="navbar-item basket"><img src="../static/images/basket.png" alt="basket" width="30"></a>
            <a class="navbar-item" href="{{ url_for('login') }}"><img src="../static/images/user.png" alt="user" width="30"></a>
        </div>

        <div class="displaycontainer" >
            <div class="container-text">
                <p class="text">Discover a sanctuary for words at StoryShore: Where every page is a home, and every story finds its place in the heart</p>
                <button id="discover_more"> Discover more </button>            
            </div>
        </div>
        <div class="pink-container">
            <p class="book-container-title">Best Selling Books</p>
            <p class="book-container-sub-title">Discover literary treasures with our curated collection of Best Selling Books—where captivating stories meet the hearts of avid readers.</p>
            <div class="book-preview-container">
              
                <div class="book-preview">
                    <img src="../static/images/book1.jpg" alt="Book Title 3">
                    <div class="shop-now">
                        <img src="../static/images/shopping-bag.png" alt="Book Title 1" width="20">                
                            <div class="tooltip">Add to card</div>
                     </div>
                    <div class="book-details">
                        <p class="author">kevin helman</p>
                        <p class="book-title">The Sons of the Empire</p>
                        <p class="price">$14.99</p>
                        
                    </div>
                </div>
                <div class="book-preview">
                    <img src="../static/images/book2.jpg" alt="Book Title 3">
                    <div class="shop-now">
                        <img src="../static/images/shopping-bag.png" alt="Book Title 1" width="20">                
                            <div class="tooltip">Add to card</div>
                     </div>
                    <div class="book-details">
                        <p class="author">kevin helman</p>
                        <p class="book-title">The Sons of the Empire</p>
                        <p class="price">$14.99</p>
                        
                    </div>
                </div>
                <div class="book-preview">
                    <img src="../static/images/book3.jpg" alt="Book Title 3">
                    <div class="shop-now">
                        <img src="../static/images/shopping-bag.png" alt="Book Title 1" width="20">                
                            <div class="tooltip">Add to card</div>
                     </div>
                    <div class="book-details">
                        <p class="author">kevin helman</p>
                        <p class="book-title">The Sons of the Empire</p>
                        <p class="price">$14.99</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="about-container" id="about_offset">
            <div class="about-container-img"></div>
            <div class="about-container-text">
                <p>Step into our online bookstore, where the world of captivating stories awaits. Explore a carefully curated selection of best-selling books, effortlessly purchase new releases, and immerse yourself in the joy of reading. Your next literary adventure is just a click away, combining the thrill of discovery with the ease of acquiring your favorite titles. Welcome to a book lover's paradise, where stories come to life with every turn of the page</p>
                <div class="about-container-buttons">
                    <button id="buy_button">Buy a book</button>
                    <button id="publish_button">Publich a book</button>
                </div>
            </div>
        </div>
        <div class="pink-container help" id="contact_offset">
            <div class="contact-details">
                <p class="title">need anything?</p>
                <p>Social Media</p>
                <h2>@reallygreatsite</h2>
                <p>Email Address</p>
                <h2>hello@reallygreatsite.com</h2>
                <p>Phone Number</p>
                <h2>(123) 456 7890</h2>
                
            </div>
    
            <div class="contact-picture">
                <img src="../static/images/lookbook.jpg" alt="Profile Picture" width="300">
            </div>
        </div>
        <footer>
            <div class="footer_flex">
                <div class="footer_flex_section1">
                    <h1>
                        StoryShore
                    </h1>
                    <div class="line">

                    </div>
                    <h3>contact information</h3>
                    <h5>privacy policy</h5>
                </div>
                <div class="footer_flex_section2">
                    <h3>SITE MAP</h3>  
                    <ul>
                        <li>My business</li>
                        <li>My products</li>
                        <li>My services</li>
                        <li>Gallery</li>
                        <li>Contact</li>
                        <li>Support</li>
                    </ul> 
                    <div class="copyrights">
                        <h5>copyrights</h5>
                        <img class="img" src="../static/images/cp.png">
                        <h5>2023</h5> 
                    </div>
                </div>
                <div class="footer_flex_section3">
                    <input type="text" id="username" name="username" placeholder="Email address"/>
                    <button class="subscribe">Subscribe</button>
                    <div class="social">
                        <img src="../static/images/fb.png">
                        <img src="../static/images/insta.png">
                        <img src="../static/images/in.png">
                        <img src="../static/images/tt.png">
                    </div>

                </div>
            </div>
        </footer>
    </body>
</html>