<!DOCTYPE html>
<html lang="en">
    <head> 
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript" src="../static/scripts/main.js"></script>
        <link rel="stylesheet" href="../static/styles/login.css">
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="../static/styles/container.css">
        <title>StoryShore</title>
        <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    </head>
    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert" id="alert">
                        {{ message }}
                    </div>
                
                {% endfor %}
            {% endif %}
         {% endwith %}

        <div class="login_container">
            <p class="title">Log In</p>
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.email.label(class="form-control") }}
                        {% if form.email.errors %}
                            {{ form.email(class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="input") }}
                        {% endif %}

                {{ form.password.label(class="form-control") }}
                        {% if form.password.errors %}
                            {{ form.password(class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="input") }}
                        {% endif %}

                <p class="forgot-pass"><a>Forgot password?</a></p>
                <div>
                    {{ form.submit(class="btn1") }}
                </div>
            </form>
            <p class="signup"> Don't have an acount? <a href="{{ url_for('register') }}">Register</a></p>
        </div>
    </body>
</html>