<h1 class="title"> My Account</h1>

            <div class="signup_container">
                <form method="post">
                    <div class="inputs">
                        <div class="col1">  
                            <h2>Update credentials</h2>                         
                            <label>Phone</label>
                            <input type="tel">
                            <label>Email</label>
                            <input type="email">
                            <label>Address</label>
                            <input type="text">
                        </div>
                        <div class="col1">
                            
                            <h2>Update password </h2>
                            <label>Change Password</label>
                            <input type="password">
                            <label>Old Password</label>
                            <input type="password">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn">Update
                    </button>
                </form>
            </div>