<h1 class="title"> My BookShelf</h1>
<div class="book-container">
    <div class="Book-item">
        <p class="book-name">Book Name</p>
        <img src="../static/images/book1.jpg" alt="book">
        <button class="edit-btn">Edit</button>
    </div>
    <div class="Book-item">
        <p class="book-name">Book Name</p>
        <img src="../static/images/book1.jpg" alt="book">
        <button class="edit-btn">Edit</button>
    </div>
    <div class="Book-item">
        <p class="book-name">Book Name</p>
        <img src="../static/images/book1.jpg" alt="book">
        <button class="edit-btn">Edit</button>
    </div>
    <div class="Book-item">
        <p class="book-name">Book Name</p>
        <img src="../static/images/book1.jpg" alt="book">
        <button class="edit-btn">Edit</button>
    </div>
    <div class="Book-item">
        <p class="book-name">Book Name</p>
        <img src="../static/images/book1.jpg" alt="book">
        <button class="edit-btn">Edit</button>
    </div>
</div>