<h1 class="title"> Publish</h1>
<div class="publish-continer">
    <form method="post" class="col1">
        <label>Book Title</label>
        <input type="text">

        <label>Book Subtitle</label>
        <input type="text">

        <label>Description</label>
        <input type="text">

        <label>Genre</label>
        <select id="genre" name="genre" aria-placeholder="Genre">
            <option value="" disabled selected>Genre</option>
            <option value="classics">Classics</option>
            <option value="Detective and Mystery">Detective and Mystery</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Biographies">Biographies</option>
            <option value="Horror">Horror</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Poetry">Poetry</option>
        </select>

        <label>Upload cover file</label>
        <label for="file-upload" class="custom-file-upload">
            Upload file
        </label>
        <input id="file-upload" type="file" />

        <label>Upload manuscript file</label>
        <label for="file-manuscript" class="custom-file-upload">
            Upload file
        </label>
        <input id="file-manuscript" type="file" />
        <button type="submit" class="btn">Update
        </button>
    </form>
</div>