<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/container.css">
     
        <title>StoryShore</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    </head>
    <body>
        <header class="logo">
            <div class="navbar">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Type to text">
                    <a href="#"><button class="btn">Search</button></a>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="left_content">
                <h1>StoryShore</h1>
                <p class="par">Welcome to StoryShore, where words come to life and stories find their home!<br>
                    Dive into a vibrant literary world where writers weave tales that captivate the imagination<br>
                    and readers discover new realms with every turn of the page.</p>  
                <button class="more"><a href="#">Discover more</a></button>
            </div>       
        </div>
            
    </body>
</html>