<!DOCTYPE html>
<html lang="en">
    <head> 
        <link rel="stylesheet" href="../static/styles/login.css">
        <link rel="stylesheet" href="../static/styles/style.css">
        <title>StoryShore</title>
        <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    </head>
    <body>
        <div class="login_container">
            <p class="title">Log In</p>
            <form method="post">
                <input type="email" placeholder="Your Email">
                <input type="password" placeholder="Your Password">
                <p class="forgot-pass"><a>Forgot password?</a></p>
                <button type="submit">Login</button>
            </form>
            <p class="signup"> Don't have an acount? <a href="/register">Register</a></p>
        </div>
    </body>
</html>