footer {
    margin: 0;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: fit-content;  
    color: white;  
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:20px 100px 20px 100px;
    
}
.footer_flex_section1{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.line{
    border-bottom: 1px solid white;
    width: 100%;
}
.footer_flex_section1 h5{
    flex: 1;
    margin-right: auto;
}
.footer_flex_section2{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.footer_flex_section2 .last_item{
    margin-top: auto;
}

.footer_flex_section3{
    display: flex;
    gap: 10px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
h1, h2, h3, h4, h5{
padding: 0;
margin: 0;
}
.footer_flex_section2 ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.footer_flex_section2 li{
    margin: 0;
    padding: 0;
    flex: 1;
    margin-right: auto;
}
.subscribe{
    width: fit-content;
    height: fit-content;
    color:white ;
    background-color: grey;
    cursor: pointer;
    border: none;
    padding: 7px;
    font-size: 12px;
}

.footer_flex_section3 .social {
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.copyrights{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    margin-top: auto;
}
.copyrights .img{
    width: auto;
    height: 10px;
}