footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fce9d8;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}